<div class="container p-5">
  <div class="row">
    <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
      <h6>{{ tituloFormulario }}</h6>
      <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
        <div class="form-group">
          <label>Status</label>
          <input type="text" class="form-control form-control-sm" formControlName="status" />
        </div>
        <div class="form-group">
          <label>Soma Total</label>
          <input type="number" class="form-control form-control-sm" formControlName="somaTotal" />
        </div>
        <div class="form-group">
          <label>Mesa</label>
          <select class="form-control form-control-sm" formControlName="marcaId">
          <option *ngFor="let mesa of mesas" [value]="mesa.id">
            {{ mesa.numero }}
           </option>
          </select>
        </div>
        <div class="form-group">
          <label>Desconto</label>
          <select class="form-control form-control-sm" formControlName="descontoId">
            <option *ngFor="let desconto of descontos" [value]="desconto.id">
              {{ desconto.nome }}
            </option>
          </select>
          </div>
        <div class="form-group">
          <label>Taxa</label>
          <select class="form-control form-control-sm" formControlName="taxaId">
            <option *ngFor="let taxa of taxas" [value]="taxa.id">
              {{ taxa.tipo }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Pagamento</label>
          <select class="form-control form-control-sm" formControlName="pagamentoId">
            <option *ngFor="let pagamento of pagamentos" [value]="pagamento.id">
              {{ pagamento.formaDePagamento }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Garçom</label>
          <select class="form-control form-control-sm" formControlName="garcomId">
            <option *ngFor="let garcom of garcons" [value]="garcom.id">
              {{ garcom.nome }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Produtos</label>
          <select class="form-control form-control-sm" formControlName="produtoId">
            <option *ngFor="let produto of produtos" [value]="produto.id">
              {{ produto.nome }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Cliente</label>
          <select class="form-control form-control-sm" formControlName="clienteId">
            <option *ngFor="let cliente of clientes" [value]="cliente.id">
              {{ cliente.nome }}
            </option>
          </select>
        </div>
        <div class="container">
          <div class="row">
            <div>
              <button type="submit" class="btn btn-sm btn-outline-secondary">
                Salvar
              </button>
            </div>
            <div class="pl-1">
              <button type="button" class="btn btn-sm btn-light">Voltar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
